@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');

body{
    font-family: 'Montserrat';
    margin: 0%;
}

#navbar{
    background-color: black;
    height: 4em;
}

#navbar a{
    color: white;
    float: left;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 2%;
}

#navbar img{
    float: left;
    width: 92px;
}

#principal{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Imagens/fundo.png');
    color: white;
    background-size: 100%;
    height: 60%;
    text-align: center;
    padding-top: 15%;
}

#principal h1{
    margin: 0%;
}

#principal p{
    font-size: 1.7em;
}
#sobre{
    background-color: #C5A880;
    text-align: center;
    height: 80%;
    padding-top: 5%;
    margin-top: 0%;
}

.item-ft{
    float: left;
    width: 30%;
    margin-left: 2.5%;
    margin-top: 2%;
}

#produtos{
    background-color: #532E1C;
    color: white;
    text-align: left;
    margin-top: 0;
    padding-top: 5%;
    height: 60%;
}

#produtos h1{
    margin-top: 0%;
}

#produtos-ft{
    float: left;
    width: 50%;
    margin: 4%;
    
}

#produtos img{
    width: 10%;
    min-width: 200px;
    height: 30%;
}

#produtos button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1.5%;
}

footer{
    text-align: center;
    background-color: #0F0F0F;
    background-color: rgb(10, 9, 9);
    color: white;
    padding: 1.5%;
}